body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9dbebb;
  height: 100vh;
  font-family: "Roboto", serif;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #be0909;
  width: 954px;
  height: 594px;
  background: linear-gradient(to right, #be0909 70%, #f4a621 30%);
}

.label {
  display: block;
  font-size: 12px;
  box-sizing: border-box;
  position: relative;
  bottom: -2px;
  width: 100%;
  background-color: #be0909;
  padding: 4px 7px;
  color: white;
  border: 0;
  box-shadow: transparent;
  font-family: "Roboto", serif;
}

.input {
  display: flex;
  justify-content: flex-start;
  background: none;
  border: none;
  color: white;
  border-bottom: 1px solid #9dbebb;
  font-size: 14px;
  background-color: transparent;
  padding: 5px;
  width: 100%;
}

.forms {
  background-color: #be0909;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.duck {
  display: inline-block;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.submit-btn {
  display: block;
  width: 202px;
  height: 48px;
  background-color: #468189;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;

  font-family: "Roboto", serif;
  font-weight: 400px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

::placeholder {
  color: white;
  font-family: "Roboto", serif;
}
input:hover {
  background-color: gray;
}
textarea:hover {
  background-color: gray;
}
