body {
  margin: 0;
  display: flex;
  background-color: #9dbebb;
}
.container {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #be0909;
  width: 954px;
  height: 594px;
  background: linear-gradient(to right, #be0909 70%, #f4a621 30%);
}

.label {
  display: block;
  font-size: 12px;
  box-sizing: border-box;
  position: relative;
  bottom: -2px;
  z-index: 1;
  width: 100%;
  background-color: red;
  padding: 4px 7px;
  color: white;
  border: 0;
  box-shadow: transparent;
}
.input {
  background: none;
  border: none;
  color: white;
  border-bottom: 2px solid #9dbebb;
  font-size: 14px;
  background-color: transparent;
  padding: 5px;
}
input::placeholder {
  color: white;
}
.forms {
  background-color: #be0909;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.duck {
  display: inline-block;
}

button {
  background-color: #537c82;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  width: 150px;
  margin-top: 10px;
}
